<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WorkManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>ConnectionPool</description>
    <res-ref-name>jdbc/WorkManager</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterCheckServlet</servlet-name>
    <servlet-class>user.UserRegisterCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterCheckServlet</servlet-name>
    <url-pattern>/userRegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>board.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/boardReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberUpdateServlet</servlet-name>
    <servlet-class>member.memberUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberUpdateServlet</servlet-name>
    <url-pattern>/memberUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberHireInfoPlusServlet</servlet-name>
    <servlet-class>member.memberHireInfoPlusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberHireInfoPlusServlet</servlet-name>
    <url-pattern>/memberInfoPlus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberRegisterServlet</servlet-name>
    <servlet-class>member.memberRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberRegisterServlet</servlet-name>
    <url-pattern>/memberRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberPlusServlet</servlet-name>
    <servlet-class>member.memberPlusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberPlusServlet</servlet-name>
    <url-pattern>/memberPlus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberDeleteServlet</servlet-name>
    <servlet-class>member.memberDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberDeleteServlet</servlet-name>
    <url-pattern>/memberDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workPlusServlet</servlet-name>
    <servlet-class>member.workPlusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workPlusServlet</servlet-name>
    <url-pattern>/workPlus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workUpdateServlet</servlet-name>
    <servlet-class>member.workUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workUpdateServlet</servlet-name>
    <url-pattern>/workUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workDeleteServlet</servlet-name>
    <servlet-class>member.workDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workDeleteServlet</servlet-name>
    <url-pattern>/workDelete</url-pattern>
  </servlet-mapping>
</web-app>